html {
  transition: background-color 0.2s;
  height: 100%;
}

body {
  font-size: 12px;
  text-transform: capitalize;
  height: 100%;
  touch-action: manipulation;
}

html,
body,
#app {
  height: 100%;
}

*,
:lang(en) body,
[lang]:lang(en),
body,
html {
  // font-family: "Roboto", sans-serif;
  font-family: "Jura", sans-serif;
  word-wrap: break-word;
  // font-display: fallback;
  @apply text-light_color;
}

.scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

input::-webkit-input-placeholder {
  color: #9a9ea4 !important;
}

.scrollY {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.scrollX {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.scrollX,
.scrollY::-webkit-scrollbar {
  display: none;
}

.custom-box-shadow-1 {
  box-shadow: 0px 0px 10px 0px rgba(143, 3, 255, 0.86);
}

.custom-box-shadow-2 {
  // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 0px #004ce0;
}
